<div class="container-fluid">
    <div class="header">
        <h1><u>DataMuse</u></h1>
    </div>
    <div class="buttons">
        <button (click)='fetchService.fetchData()'>Fetch Words</button>
        <button (click)='fetchService.getAllWords()'>Show Report</button>
    </div>
    <div class="progress-text">
      <h3>{{fetchService.progress}}</h3>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3 *ngIf='words.affiliate'>
                Affiliate-{{words.affiliate.length}}
            </h3>
            <ul>
                <li *ngFor='let i of words.affiliate'>
                    {{i.word}}
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h3 *ngIf='words.marketing'>
                Marketing-{{words.marketing.length}}
            </h3>
            <ul>
                <li *ngFor='let i of words.marketing'>
                    {{i.word}}
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h3 *ngIf='words.influencer'>
                Influencer-{{words.influencer.length}}
            </h3>
            <ul>
                <li *ngFor='let i of words.influencer'>
                    {{i.word}}
                </li>
            </ul>
        </div>
    </div>
</div>